#map {
      height: 90%;
      margin: 2%;
     
    }
    
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }


    .map-body{

        margin-top: 2%;
        height: 60%;

    }

    .map-inner-body{

        height: 100%;

    }
      .right{

        overflow-y:  auto;
        height: 100%;
      }

      #suggestion {

        border: 3px solid black;
        padding: 2%;
        margin-top: 3%;
        height: 40%;
        overflow-y: auto;
      }

      #dvPanel{


          border: 3px solid black;
        padding: 2%;
        margin-top: 2%;
        height: 40%;
        overflow-y: auto;
      }

    .manual-panel{

      position: relative;
      margin: 2%;
    }

    #alterLocation
    {

      width: 40%;
    }

    .pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}​